.merge-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .select-pdf-btn {
    background-color: #571286;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .select-pdf-btn:hover {
    background-color: #ff1a1a;
  }
  
  .icon-container {
    display: flex;
    margin-left: 20px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
    background-size: cover;
    margin: 0 10px;
  }
  
  /* .google-drive {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Google_Drive_logo_2023.svg/120px-Google_Drive_logo_2023.svg.png');
  }
  
  .dropbox {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Dropbox_logo_2017.svg/1024px-Dropbox_logo_2017.svg.png');
  } */
  
  .drop-pdf {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
    font-style: italic;
  }