<div class="merge-container">
  <h1>Convert Word To PDF Files</h1>
  <p>Convert word to  PDFs in the order you want with the easiest word to pdf converter available.</p>

  <!-- Single button to select files and trigger the split process -->
  <div class="button-container">
    <button class="select-pdf-btn" (click)="fileInput.click()">Select PDF Files</button>
  </div>

  <!-- Hidden input for file selection -->
  <input #fileInput type="file" accept="application/pdf" multiple (change)="onFileSelectedAndConvert($event)" style="display: none" />

  <!-- Feedback while converting -->
  <div *ngIf="isConverting" class="converting-feedback">
    <p>We are Convert  your word to PDFs. Please wait...</p>
    <div class="progress-container">
      <div class="progress-bar" [style.width.%]="progress"></div>
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
</div>
